<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <img src="/assets/senderosPatagonicos.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Senderos Patagónicos</h5>
                    <p class="card-text">Programa grupal de 06 noches con DESAYUNO y EXCURSIONES para El Calafate y El Chalten en aéreo. Salidas desde Rosario en
                    SEPTIEMBRE 2022</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="/assets/buenosAires.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Buenos Aires-Tigre</h5>
                    <p class="card-text">Viajá a Buenos Aires con 02 noches de alojamiento. City en capital + San Telmo y de regreso visita a Tigre. Salidas en
                    JULIO 2022 SEPTIEMBRE 2022</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="/assets/puertoMadryn.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Puerto Madryn</h5>
                    <p class="card-text">Programas de 04 noches con media pensión y excursiones incluidas a Puerto Madryn. Salidas en JUNIO, JULIO, AGOSTO,
                    SEPTIEMBRE, OCTUBRE 2022</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <img src="/assets/playaCarmen.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Playa del Carmen</h5>
                    <p class="card-text">Paquete a PLAYA DEL CARMEN con aéreos desde CÓRDOBA, 07 u 08 noches de alojamiento y régimen ALL INCLUSIVE. Salidas en
                    OCTUBRE y NOVIEMBRE 2022</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="/assets/puntaCana.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Punta Cana</h5>
                    <p class="card-text">Salidas de 07 noches a PUNTA CANA con aéreos desde córdoba, hotelería con ALL INCLUSIVE y vuelos desde Córdoba. Salidas
                    en SEPTIEMBRE, OCTUBRE 2022</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="/assets/europaMagica.jpg" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Europa Magica</h5>
                    <p class="card-text">Pasaje aéreo volando con Air Europa desde CÓRDOBA en Clase Económica. Circuito recorriendo Londres, París, Heidelberg,
                    Munich, Venecia, Florencia, Roma y Niza</p>
                    <a href="#!" class="btn btn-primary">MAS INFO</a>
                </div>
            </div>
        </div>
    </div>
</div>